<p-growl [value]="msgs" sticky="sticky"></p-growl>

<form #contactForm="ngForm" *ngIf="active">

	<p-dataTable [value]="emailServers" *ngIf="!createEmailServer && !viewEmailServer" [rows]="50" [paginator]="true" [pageLinks]="3"
		[rowsPerPageOptions]="[10,20,50]" selectionMode="single" [responsive]="true" (onRowSelect)="onRowSelect($event)">
		<header>Email Servers</header>
		<p-column field="name" header="Name" [sortable]="true" [filter]="true"></p-column>
		<p-column field="protocol" header="Protocol" [sortable]="true" [filter]="true"></p-column>
		<p-column field="host" header="Host" [sortable]="true" [filter]="true"></p-column>
		<p-column field="port" header="Port" [sortable]="true" [filter]="true" [colspan]="2"></p-column>
		<footer>
			<div class="row">
				<div class="col-md-12">
					<button type="button" icon="fa fa-plus" pButton label="Create" *ngIf="authorizationService.isUserHasRole('ACCESS_SERVERS')" (click)="createEmailServerClick()"></button>
					<button type="button" pButton icon="fa fa-download" label="Import"></button>
				</div>
			</div>
		</footer>
	</p-dataTable>

	<div class="panel panel-default" *ngIf="viewEmailServer && emailServerSelected">
		<div class="panel-heading">
			<h3 class="panel-title">Email Server</h3>
		</div>
		<div class="panel-body">
			<p-tabView>
				<p-tabPanel header="Email Server Details">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group" *ngIf="!updateEmailServer">
								<label for="emailServerName">Email Server Name*</label>
								<input disabled type="text" class="form-control" id="emailServerName" [(ngModel)]="emailServerSelected.name" name="emailServerNameView">
							</div>
							<div class="form-group" *ngIf="updateEmailServer">
								<label for="emailServerName">Email Server Name*</label>
								<input type="text" class="form-control" id="emailServerName" required [(ngModel)]="emailServerSelected.name" name="emailServerNameView"
									#emailServerNameView="ngModel" placeholder="Required">
								<div [hidden]="emailServerNameView.valid || emailServerNameView.pristine" class="alert alert-danger">
									Email server name is required
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group" *ngIf="!updateEmailServer">
								<label for="protocol">Protocol*</label>
								<input disabled type="text" class="form-control" id="protocol" [(ngModel)]="emailServerSelected.protocol" name="protocolView">
							</div>
							<div class="form-group" *ngIf="updateEmailServer">
								<label for="protocol">Protocol*</label>
								<input type="text" class="form-control" id="protocol" required [(ngModel)]="emailServerSelected.protocol" name="protocolView"
									#protocolView="ngModel" placeholder="Required">
								<div [hidden]="protocolView.valid || protocolView.pristine" class="alert alert-danger">
									Protocol is required
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group" *ngIf="!updateEmailServer">
								<label for="host">Host*</label>
								<input disabled type="text" class="form-control" id="host" [(ngModel)]="emailServerSelected.host" name="hostView">
							</div>
							<div class="form-group" *ngIf="updateEmailServer">
								<label for="host">Host*</label>
								<input type="text" class="form-control" id="host" required [(ngModel)]="emailServerSelected.host" name="hostView" #hostView="ngModel"
									placeholder="Required">
								<div [hidden]="hostView.valid || hostView.pristine" class="alert alert-danger">
									Host is required
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group" *ngIf="!updateEmailServer">
								<label for="port">Port*</label>
								<input disabled type="text" class="form-control" id="port" [(ngModel)]="emailServerSelected.port" name="portView">
							</div>
							<div class="form-group" *ngIf="updateEmailServer">
								<label for="port">Port*</label>
								<input type="text" class="form-control" id="port" required [(ngModel)]="emailServerSelected.port" name="portView" #portView="ngModel"
									placeholder="Required">
								<div [hidden]="portView.valid || portView.pristine" class="alert alert-danger">
									Port is required
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group" *ngIf="!updateEmailServer">
								<label for="mailsPerSession">Mails Per Session*</label>
								<input disabled type="text" class="form-control" id="mailsPerSession" [(ngModel)]="emailServerSelected.mailsPerSession" name="mailsPerSessionView">
							</div>
							<div class="form-group" *ngIf="updateEmailServer">
								<label for="mailsPerSession">Mails Per Session*</label>
								<input type="text" class="form-control" id="mailsPerSession" required [(ngModel)]="emailServerSelected.mailsPerSession" name="mailsPerSessionView"
									#mailsPerSessionView="ngModel" placeholder="Required">
								<div [hidden]="mailsPerSessionView.valid || mailsPerSessionView.pristine" class="alert alert-danger">
									Mails Per Session is required
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group" *ngIf="!updateEmailServer">
								<label for="fromAddress">From Address*</label>
								<input disabled type="text" class="form-control" id="fromAddress" [(ngModel)]="emailServerSelected.fromAddress" name="fromAddressView">
							</div>
							<div class="form-group" *ngIf="updateEmailServer">
								<label for="fromAddress">From Address*</label>
								<input type="text" class="form-control" id="fromAddress" required [(ngModel)]="emailServerSelected.fromAddress" name="fromAddressView"
									#fromAddressView="ngModel" placeholder="Required">
								<div [hidden]="fromAddressView.valid || fromAddressView.pristine" class="alert alert-danger">
									From Address is required
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group" *ngIf="!updateEmailServer">
								<label for="emailUsername">Email User name*</label>
								<input disabled type="text" class="form-control" id="emailUsername" [(ngModel)]="emailServerSelected.emailUsername" name="emailUsernameView">
							</div>
							<div class="form-group" *ngIf="updateEmailServer">
								<label for="emailUsername">Email User name*</label>
								<input type="text" class="form-control" id="emailUsername" required [(ngModel)]="emailServerSelected.emailUsername" name="emailUsernameView"
									#emailUsernameView="ngModel" placeholder="Required">
								<div [hidden]="emailUsernameView.valid || emailUsernameView.pristine" class="alert alert-danger">
									Email Username is required
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group" *ngIf="!updateEmailServer">
								<label for="emailPassword">Email Password*</label>
								<input disabled type="password" class="form-control" id="emailPassword" [(ngModel)]="emailServerSelected.emailPassword" name="emailPasswordView">
							</div>
							<div class="form-group" *ngIf="updateEmailServer">
								<label for="emailPassword">Email Password*</label>
								<input type="password" class="form-control" id="emailPassword" required [(ngModel)]="emailServerSelected.emailPassword" name="emailPasswordView"
									#emailPasswordView="ngModel" placeholder="Required">
								<div [hidden]="emailPasswordView.valid || emailPasswordView.pristine" class="alert alert-danger">
									Mails Password is required
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<hr/>
							<hr/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-5"></div>
							<button *ngIf="!updateEmailServer && authorizationService.isUserHasRole('UPDATE_SERVERS')" type="button" pButton icon="fa-pencil" (click)="updateEmailServerClick()" label="Edit"></button>
							<button *ngIf="!updateEmailServer && authorizationService.isUserHasRole('DELETE_SERVERS')" type="submit" pButton icon="fa-trash" (click)="deleteEmailServerCancleClick()" label="Delete"></button>
							<button *ngIf="!updateEmailServer" type="button" pButton icon="fa-close" (click)="viewEmailServerCancleClick()" label="Cancel"></button>
							<button *ngIf="updateEmailServer && authorizationService.isUserHasRole('UPDATE_SERVERS')" type="submit" pButton icon="fa-check" (click)="updateEmailServerSubmit()" label="Submit"
								[disabled]="!contactForm.form.valid"></button>
							<button *ngIf="updateEmailServer" type="button" pButton icon="fa-close" (click)="updateEmailServerCancel()" label="Cancel"></button>
						</div>
					</div>
				</p-tabPanel>
				<p-tabPanel header="Email Server Details">
					<form #emailServerPropertiesUpdateForm="ngForm" *ngIf="active2">
						<div class="row" *ngIf="updateEmailServer">
							<div class="col-md-4">
								<div class="form-group">
									<label for="emailPassword">Property Name*</label>
									<input type="text" class="form-control" id="propertyName" required [(ngModel)]="emailServerPropertyNew.propertyName" name="propertyNameView"
										#propertyNameView="ngModel" placeholder="Required">
									<div [hidden]="propertyNameView.valid || propertyNameView.pristine" class="alert alert-danger">
										Property name is required
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="emailPassword">Email Value*</label>
									<input type="text" class="form-control" id="propertyValue" required [(ngModel)]="emailServerPropertyNew.value" name="propertyValueView"
										#propertyValueView="ngModel" placeholder="Required">
									<div [hidden]="propertyValueView.valid || propertyValueView.pristine" class="alert alert-danger">
										Property value is required
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="emailPassword">Property Type*</label>
									<p-dropdown [style]="{'width':'300px'}" id="propertyType" placeholder="Select" required [options]="emailServerPropertyTypes"
										[(ngModel)]="emailServerPropertyNew.emailServerPropertyValueTypeConstant" #propertyTypeView="ngModel" name="propertyTypeView"></p-dropdown>
									<div [hidden]="propertyTypeView.valid || propertyTypeView.pristine" class="alert alert-danger">
										Property type is required
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<button type="button" pButton icon="fa-check" (click)="createEmailServerProperty(emailServerPropertyNew)" label="Add"
										[disabled]="!emailServerPropertiesUpdateForm.form.valid" *ngIf="authorizationService.isUserHasRole('CREATE_SERVERS')"></button>
								</div>
							</div>
						</div>
						<br/>
						<p-dataTable [value]="emailServerPropertiesForServer" *ngIf="emailServerSelected && emailServerPropertiesForServer && emailServerPropertiesForServer.length > 0"
							[rows]="50">
							<header>Email Servers</header>
							<p-column field="propertyName" header="Name" [sortable]="true" [filter]="true"></p-column>
							<p-column field="value" header="Value" [sortable]="true" [filter]="true"></p-column>
							<p-column field="emailServerPropertyValueTypeConstant" header="Type" [sortable]="true" [filter]="true"></p-column>
							<p-column styleClass="col-button">
								<template let-emailServerProperties="rowData" pTemplate type="body">
									<button type="button" [disabled]="!updateEmailServer" pButton icon="fa-trash" (click)="deleteEmailServerProperty(emailServerProperties)"
										label="Delete" *ngIf="authorizationService.isUserHasRole('DELETE_SERVERS')"></button></template>
							</p-column>
						</p-dataTable>
					</form>
				</p-tabPanel>
			</p-tabView>
		</div>
		<br/>
	</div>

	<div class="panel panel-default" *ngIf="createEmailServer">
		<div class="panel-heading">
			<h3 class="panel-title">Create Email Server</h3>
		</div>
		<div class="panel-body">
			<p-tabView>
				<p-tabPanel header="Email Server Details">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="emailServerName">Email Server Name*</label>
								<input type="text" class="form-control" id="emailServerName" required [(ngModel)]="emailServerNew.name" name="emailServerNameCreate"
									#emailServerNameCreate="ngModel" placeholder="Required">
								<div [hidden]="emailServerNameCreate.valid || emailServerNameCreate.pristine" class="alert alert-danger">
									Email server name is required
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="protocol">Protocol*</label>
								<input type="text" class="form-control" id="protocol" required [(ngModel)]="emailServerNew.protocol" name="protocolCreate"
									#protocolCreate="ngModel" placeholder="Required">
								<div [hidden]="protocolCreate.valid || protocolCreate.pristine" class="alert alert-danger">
									Protocol is required
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="host">Host*</label>
								<input type="text" class="form-control" id="host" required [(ngModel)]="emailServerNew.host" name="hostCreate" #hostCreate="ngModel"
									placeholder="Required">
								<div [hidden]="hostCreate.valid || hostCreate.pristine" class="alert alert-danger">
									Host is required
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="port">Port*</label>
								<input type="text" class="form-control" id="port" required [(ngModel)]="emailServerNew.port" name="portCreate" #portCreate="ngModel"
									placeholder="Required">
								<div [hidden]="portCreate.valid || portCreate.pristine" class="alert alert-danger">
									Port is required
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="mailsPerSession">Mails Per Session*</label>
								<input type="text" class="form-control" id="mailsPerSession" required [(ngModel)]="emailServerNew.mailsPerSession" name="mailsPerSessionCreate"
									#mailsPerSessionCreate="ngModel" placeholder="Required">
								<div [hidden]="mailsPerSessionCreate.valid || mailsPerSessionCreate.pristine" class="alert alert-danger">
									Mails Per Session is required
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="fromAddress">From Address*</label>
								<input type="text" class="form-control" id="fromAddress" required [(ngModel)]="emailServerNew.fromAddress" name="fromAddressCreate"
									#fromAddressCreate="ngModel" placeholder="Required">
								<div [hidden]="fromAddressCreate.valid || fromAddressCreate.pristine" class="alert alert-danger">
									From Address is required
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="emailUsername">Email User name*</label>
								<input type="text" class="form-control" id="emailUsername" required [(ngModel)]="emailServerNew.emailUsername" name="emailUsernameCreate"
									#emailUsernameCreate="ngModel" placeholder="Required">
								<div [hidden]="emailUsernameCreate.valid || emailUsernameCreate.pristine" class="alert alert-danger">
									Email Username is required
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="emailPassword">Email Password*</label>
								<input type="password" class="form-control" id="emailPassword" required [(ngModel)]="emailServerNew.emailPassword" name="emailPasswordCreate"
									#emailPasswordCreate="ngModel" placeholder="Required">
								<div [hidden]="emailPasswordCreate.valid || emailPasswordCreate.pristine" class="alert alert-danger">
									Mails Password is required
								</div>
							</div>
						</div>
					</div>
				</p-tabPanel>
			</p-tabView>
			<div class="row">
				<div class="col-md-12">
					<hr/>
					<hr/>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-5"></div>
				<button type="submit" pButton icon="fa-check" (click)="createEmailServerSubmit()" label="Create" [disabled]="!contactForm.form.valid" *ngIf="authorizationService.isUserHasRole('CREATE_SERVERS')"></button>
				<button type="button" pButton icon="fa-close" (click)="createEmailServerCancleClick()" label="Cancel"></button>
			</div>
		</div>
	</div>
</form>