 <p-growl [value]="msgs"></p-growl>
 <div class="col-xs-1 col-sm-3 col-md-4 col-lg-4 col-xl-4"></div>
  <div  class="col-xs-8 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <md-card class="app-input-section">
      <md-card-title>Change password</md-card-title>
      <md-card-content>
        <table style="width: 100%" cellspacing="0">
          <tr>
            <td>
              <md-input placeholder="Old Password" type="password" required [(ngModel)]="userAccountChangePasswordResource.oldPassword" name="oldPassword" style="width: 100%">
              </md-input>
            </td>
          </tr>
          <tr>
            <td>
              <md-input placeholder="New Password" required type="password" [(ngModel)]="userAccountChangePasswordResource.newPassword" name="newPassword" style="width: 100%">
              </md-input>
            </td>
          </tr>
          <tr>
            <td>
              <md-input placeholder="Confirm Password" required type="password" [(ngModel)]="userAccountChangePasswordResource.confirmPassword" name="confirmPassword" style="width: 100%">
              </md-input>
            </td>
          </tr>
        </table>
      </md-card-content>
      <md-card-actions>
        <button md-button md-raised-button color="primary" (click)="submitChangePassword()">Submit</button>
        <button md-button md-raised-button color="primary" (click)="cancel()">Cancel</button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="col-xs-1 col-sm-3 col-md-4 col-lg-4 col-xl-4"></div>