<p-growl [value]="msgs"></p-growl>

<form *ngIf="active" #groupForm="ngForm">

    <div class="panel panel-default" *ngIf="!displayViewDialog && !displayCreateDialog">
        <div class="panel-heading">
            <h3 style="margin:0px auto;display:block" class="panel-title">Search Groups</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" placeholder="Group Name" class="form-control" id="groupName" [(ngModel)]="commonService.groupSearchCriteria.name"
                        name="groupNameSearchCriteria">
                </div>
            </div>
            <div class="col-md-6">               
                <button type="submit" pButton icon="fa fa-search" pButton label="Search" (click)="commonService.searchGroupsByCriteria()"></button>
                <button type="button" pButton icon="fa fa-refresh" pButton label="Reset" (click)="commonService.resetGroupsBySearchCriteria()"></button>
            </div>
        </div>
    </div>

    <p-dataTable [value]="commonService.groups" *ngIf="!displayViewDialog && !displayCreateDialog" selectionMode="single" [responsive]="true"
        (onRowSelect)="onRowSelect($event)">
        <header>Groups</header>
        <p-column field="name" header="Group Name" [sortable]="true" [filter]="true"></p-column>
        <p-column field="comments" header="Comments" [sortable]="true" [filter]="true"></p-column>
        <footer>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" icon="fa fa-plus" pButton label="Create" (click)="createGroupClick()"></button>
                    <button type="button" icon="fa fa-download" pButton label="Import"></button>
                </div>
            </div>
        </footer>
    </p-dataTable>

    <!-- <p-dialog [(visible)]="displayViewDialog" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="groupSelected" [width]="800"> -->

    <div class="panel panel-default" *ngIf="displayViewDialog && groupSelected">
        <div class="panel-heading">
            <h3 class="panel-title">Group Details</h3>
        </div>
        <br/>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" *ngIf="!updateGroup">
                        <label for="name">Group Name</label>
                        <input disabled type="text" class="form-control" id="groupName" required [(ngModel)]="groupSelected.name" name="groupNameView">
                    </div>
                    <div class="form-group" *ngIf="updateGroup">
                        <label for="name">Group Name</label>
                        <input type="text" class="form-control" id="groupName" required [(ngModel)]="groupSelected.name" name="groupNameView" #groupNameView="ngModel">
                        <div [hidden]="groupNameView.valid || groupNameView.pristine" class="alert alert-danger">
                            Group name is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="contactCount">Contact Count</label>
                        <input disabled type="text" class="form-control" id="contactCount" required [(ngModel)]="groupSelected.contactCount" name="contactCountView">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" *ngIf="!updateGroup">
                        <label for="comments">Comments</label>
                        <input disabled type="text" class="form-control" id="comments" [(ngModel)]="groupSelected.comments" name="commentsView">
                    </div>
                    <div class="form-group" *ngIf="updateGroup">
                        <label for="comments">Comments</label>
                        <input type="text" class="form-control" id="comments" [(ngModel)]="groupSelected.comments" name="commentsView">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-5"></div>
                    <button *ngIf="!updateGroup" type="button" pButton icon="fa-pencil" (click)="updateGroupClick()" label="Edit"></button>
                    <button *ngIf="!updateGroup" [disabled]="groupSelected.contactCount > 0" type="submit" pButton icon="fa-trash" (click)="deleteSelectedGroup()"
                        label="Delete"></button>
                    <button *ngIf="!updateGroup" type="button" pButton icon="fa-close" (click)="viewDialogCancelClick()" label="Cancel"></button>
                    <button *ngIf="updateGroup" type="submit" pButton icon="fa-check" (click)="updateGroupSubmit()" label="Submit" [disabled]="!groupForm.form.valid"></button>
                    <button *ngIf="updateGroup" type="button" pButton icon="fa-close" (click)="dialogUpdateCancelClick()" label="Cancel"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- </p-dialog> -->

    <!-- <p-dialog [(visible)]="displayCreateDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="800" *ngIf="groupNew"> -->

    <div class="panel panel-default" *ngIf="displayCreateDialog && groupNew">
        <div class="panel-heading">
            <h3 class="panel-title">Create Group</h3>
        </div>
        <br/>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Group Name</label>
                        <input type="text" class="form-control" id="groupName" required [(ngModel)]="groupNew.name" name="groupNameCreate" #groupNameCreate="ngModel">
                        <div [hidden]="groupNameCreate.valid || groupNameCreate.pristine" class="alert alert-danger">
                            Group name is required
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="comments">Comments</label>
                        <input type="text" class="form-control" id="comments" [(ngModel)]="groupNew.comments" name="commentsCreate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-5"></div>
                    <button type="submit" pButton icon="fa-check" (click)="createGroupSubmit()" label="Create" [disabled]="!groupForm.form.valid"></button>
                    <button type="button" pButton icon="fa-close" (click)="createDialogCancelClick()" label="Cancel"></button>
                </div>
            </div>
            <br/>
        </div>
    </div>

    <!--  </p-dialog> -->

</form>